<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyBoardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E9946881F16FAC400BA3FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E99469C1F16FAC400BA3FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E9946A71F16FAC400BA3FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
